@import '../../../../variables/variables.scss';
.header {
    background-image: url('../../../../utils/images/bg3.webp');
    background-repeat: no-repeat;
    // padding-top: 50px;
}
.header_inner {
    text-align: center;
    border: 20px solid #fff;
    padding: 120px 0 120px 0  ;
    @media screen and(max-width: #{$mobileL-width}){
    padding: 50px 0 50px 0  ;
    }
    color: #fff;
        button {
            background-color: unset;
            font-family: $garamontFont;
            padding: 10px 45px 10px 45px;
            font-size: 16px;
            border: 1px solid #fff;
            color: #fff;
             &:hover {
                 background-color: #fff;
                 transition-duration: 1s;
                 cursor: pointer;
                 color: black;
             }
        }
}
.header-item1 {
    font-family: $garamontFont;
    font-size: 14px;
    letter-spacing: 0.5em;
    margin-bottom: 70px;
}
.header-item2 {
        p {
            font-family: $niconeFont;
            font-size: 62px;
        }
        h1 {
            font-family: $antonFont;
            font-size: 61px;
            letter-spacing: 0.1em;
        }
    margin-bottom: 70px;
    @media screen and(max-width: #{$mobileL-width}){
        h1 ,p {
            font-size: 30px;
        }
    }

}
.header-con {
    padding-bottom: 100px;
}
.new-in {
    border-bottom: 2px solid $brownColor;
    margin-top: 100px;
    color: $brownColor;
    text-align: center;
    font-family: $garamontFont;
     h3{
        font-size: 29px;
     }
     strong {
         font-size: 15px;
     }
     p{
        color: $greyColor;
        font-size: 16px;
        padding-top: 15px;
        margin-bottom: 50px;
     }
     button {
            background-color: unset;
            font-family: $garamontFont;
            padding: 10px 45px 10px 45px;
            font-size: 18px;
            border: 1.5px solid $brownColor;
            color: $brownColor;
            margin-bottom: 15px;
             &:hover {
                 background-color: $brownColor;
                 transition-duration: 1s;
                 cursor: pointer;
            color: #fff;

             }

        }
}
.new-in_items{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    @media screen and(max-width: #{$tablet-width}) {
        flex-wrap: wrap;
    }
    .new-in_item{
        img {
            object-fit: contain;
        }
        p {
            text-transform: uppercase;
            color: $brownColor;
            font-size: 18px;
        }
    }
    margin-bottom: 30px;
}
.contact {
    margin-top: 150px;
    text-align: center;
    font-family: $garamontFont;
    border-bottom: 2px solid $brownColor;
     @media screen and(max-width: #{$mobileL-width}){
        border: none;
        .stores-item {
 &:first-child {
             border:none;
         }
    }
}
}
.contact_inner {

    h3 {
        font-size: 29px;
        color: $brownColor;
    }
    p{
        font-size: 16px;
        color: $greyColor;
        margin-bottom: 30px;
        margin-top: 10px;
    }
     input {
         &placeholder {
             color: $greyColor
         }
     }
}
.contact-input {
    display: block;
     input {
         width: 280px;
        height: 38px;
        margin-top: 8px;
         &:first-child {
             margin-top: 0;
         }
     }
     margin-right: 10px ;
}
.contact-input2 {
    input {
        height: 138px;
         width: 280px;
        display: block;

    }
    button {
                             background-color: $brownColor;
                             margin-top:10px ;
            font-family: $garamontFont;
            padding: 10px 45px 10px 45px;
            font-size: 18px;
            border: 1.5px solid $brownColor;
            margin-left: 49.7%;
            color: #fff;
             &:hover {
                 background-color: $brownColor;
                 transition-duration: 1s;
                 cursor: pointer;
            color: #fff;
             }

        }
}
.inputs {
    margin-top: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.stores {
    display: flex;
    justify-content: space-evenly;

}
.stores-h5 {
    color :$greyColor ;
        font-size: 16px;
        margin-top: 60px;
        margin-bottom: 20px;

}
.stores-item {
 &:first-child {
             border-right: 2px solid $brownColor;
             padding-right: 18%;
             height: 70px;
         }
    h6 {
        color: $brownColor;
        font-size: 16px;

    }
    p {
        margin-top: 16px;
        color: $greyColor;
        font-size: 16px;

    }
}
.join {
    text-align: center;
    margin-top: 50px;
    font-family: $garamontFont;
     p {
         font-size: 20px;
         color: $brownColor;
         &:last-child {
             font-size: 16px;

         }

     }
      input {
        width: 60%;
        padding: 10px 0 10px 0;
        margin-top: 15px ;
        margin-bottom: 15px;
      }
      button {
            background-color: $brownColor;
            font-family: $garamontFont;
            padding: 10px 0px 10px 0px;
        width: 60%;
            margin-bottom: 10px;
            font-size: 18px;
            border: 1.5px solid $brownColor;
            color: #fff;
             &:hover {
                 background-color: $brownColor;
                 transition-duration: 1s;
                 cursor: pointer;
            color: #fff;
             }

        }
}
.join-items {
    margin-bottom: 20px;

}