.add-page {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.edit-page {
    margin-top: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.add-page form, .edit-page form {
    display: flex;
    flex-direction: column;
    width: 50%;
}

.add-page form input, .edit-page form input {
    margin: 7px;
}

.add-page form button:last-child, .edit-page form button:last-child {
    margin-top: 15px;
    margin-bottom: 15px;
}